.container-fluid {
    background: linear-gradient(135deg, #e0ffe0, #f9fff9);
    border-radius: 15px;
    padding: 40px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    min-height: 100vh;
}

.loginform form {
    padding: 30px;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.loginform h4 {
    color: #40d522;
    margin: 15px 10px;
    text-align: center;
}

.section-title {
    margin: 20px 0 10px;
    font-size: 16px;
    color: #28a745;
    font-weight: bold;
    border-bottom: 2px solid #40d522;
}

.loginform form input,
.loginform form textarea {
    border: 1.5px solid rgba(128, 128, 128, 0.5);
    font-size: 15px;
    border-radius: 8px;
    padding: 10px;
    transition: all 1s ease-in-out;
}

.loginform form input:focus,
.loginform form textarea:focus {
    border-color: #40d522;
    box-shadow: 0px 0px 5px rgba(64, 213, 34, 0.5);
    outline: none;
}


.form-label {
    color: #40d522;
    font-weight: 500;
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
}


.btn {
    background: linear-gradient(45deg, #40d522, #28a745);
    color: white;
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease;
    padding: 10px 20px;
    font-size: 16px;
}

.btn:hover {
    background: linear-gradient(45deg, #28a745, #40d522);
    transform: scale(1.05);
}


@media (max-width: 768px) {
    .loginform form {
        padding: 20px;
    }

    .loginform h4 {
        font-size: 18px;
    }

    .loginform form input,
    .loginform form textarea {
        font-size: 14px;
    }
}

.image{
    height: 100%;
    background-color: #40d522;
    padding-top: 50px;
    border-radius: 10px;
    padding-top: 100px !important;
}