<div class="mt-5 pt-5 container-fluid createtasks ">
  
  <div class="loginform  m-3 mx-auto col-lg-6">
    <h4 class="text-center ">Task Form</h4>
    <form (ngSubmit)="createTasks()" method="post">
        
        
        <div class="mb-3">
          <label class="form-label"><i class="fas fa-project-diagram"></i> Task Name</label>
          <input [(ngModel)]="task_name" [ngModelOptions]="{ standalone: true }" name="task_name" class="form-control" required>
        </div>
        <div class="mb-3">
          <label class="form-label"><i class="fas fa-align-left"></i> Task Description</label>
          <input [(ngModel)]="task_desc" [ngModelOptions]="{ standalone: true }" name="task_desc" class="form-control" required>
        </div>
        <div class="mb-3">
          <label class="form-label"><i class="fas fa-calendar-alt"></i>Start Date</label>
          <input [(ngModel)]="task_start" type="date" [ngModelOptions]="{ standalone: true }" name="task_start" class="form-control" required>
        </div>
        <div class="mb-3">
          <label class="form-label"><i class="fas fa-calendar-alt"></i>End Date</label>
          <input [(ngModel)]="task_end" type="date" [ngModelOptions]="{ standalone: true }" name="task_end" class="form-control" required>
        </div>
        <div class="mb-3">
          <label class="form-label"><i class="fa-solid fa-bars-progress"></i>Task Status</label>
          <input [(ngModel)]="task_status" [ngModelOptions]="{ standalone: true }" name="task_status" class="form-control" required disabled>
                 
        </div>
        <div class="mb-3">
          <label class="form-label"><i class="fa-solid fa-circle-user"></i>Assign task to</label>
          <select [(ngModel)]="task_assigned_to" [ngModelOptions]="{ standalone: true }" name="task_assigned_to" class="form-control" required>
            <option *ngFor="let employee of employees" [value]="employee.empEmail" class="empname">{{ employee.empEmail }}</option>
          </select>
        </div>
        <button type="submit" class="btn btn-dark">Submit</button>
      
      
    </form>
  </div>
  </div>
  